
*.env

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
FrontEnd/polling-app/node_modules/
.pnp/
.pnp.js

# testing
FrontEnd/polling-app/coverage/

# production
FrontEnd/polling-app/build/

# misc
FrontEnd/polling-app/.DS_Store
FrontEnd/polling-app/.env.local
FrontEnd/polling-app/.env.development.local
FrontEnd/polling-app/.env.test.local
FrontEnd/polling-app/.env.production.local

FrontEnd/polling-app/npm-debug.log*
FrontEnd/polling-app/yarn-debug.log*
FrontEnd/polling-app/yarn-error.log*
